body { background-color:yellow ;}
h1 {color: brown ; background-color:lightgray; width: 300px; padding: 20px; box-sizing:content-box;}
p {color:violet; background-color: gold; width: 300px; padding: 20px; box-sizing: border-box;}