*{margin: 0;
padding: 0;
box-sizing: border-box;}
.parent{padding: 24px;
background-color: yellow; 
display: flex;
flex-wrap: wrap;
gap: 40px;


}
.child{ height: 200px; 
width: 200px;
border: 5px solid black;
background-color: red;}