.card{ padding: 20px;background-color: orange;}
.bg-green {background-color: green;}
.big{padding: 40px;}
.big.bg-green{background-color: blue;}

.text-underline{ text-decoration: underline;}
p.text-underline{color: brown;}