*{ padding: 0px;
     margin: 0px;
    box-sizing: border-box;}
 #item1{
    width: 100vw;
     height: 250px;
     background-color: red;
     margin: 0px;
     padding:48px;
    }
 #item2{
    
    width: 100vw;
     height: 250px; 
     background-color: green; 
     padding: 48px;}